<a href="https://colab.research.google.com/github/hosefg/all-regression/blob/main/Predicting_the_Final_Year_Math_Grade_of_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the basic libraries

Implementing Multiple Linear Regression to students dataset to predict the final grade of the students.

In this model I'm using the Math subject dataset instead of the Portuguese subject.

Data context: https://archive.ics.uci.edu/ml/datasets/Student+Performance

In [226]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

## Importing the dataset and applying LabelEncoder to the dataframe

In [204]:
df = pd.read_csv('Student_Mat.csv')
# df = df.apply(LabelEncoder().fit_transform)
X = df.iloc[:,1:-1].values
y = df.iloc[:,-1].values

In [205]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

## Encoding all categorical variables

In [206]:
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])
X[:,2] = le.fit_transform(X[:,2])
X[:,3] = le.fit_transform(X[:,3])
X[:,4] = le.fit_transform(X[:,4])
X[:,7] = le.fit_transform(X[:,7])
X[:,8] = le.fit_transform(X[:,8])
X[:,9] = le.fit_transform(X[:,9])
X[:,10] = le.fit_transform(X[:,10])
X[:,14] = le.fit_transform(X[:,14])
X[:,15] = le.fit_transform(X[:,15])
X[:,16] = le.fit_transform(X[:,16])
X[:,17] = le.fit_transform(X[:,17])
X[:,18] = le.fit_transform(X[:,18])
X[:,19] = le.fit_transform(X[:,19])
X[:,20] = le.fit_transform(X[:,20])
X[:,21] = le.fit_transform(X[:,21])

In [207]:
df_X = pd.DataFrame(data=X[:,:],    # values
                   index=X[:,0],    # 1st column as index
                   columns=X[0,:])
df_X.head()

  0   18 1  0  0  4  4  0  4  0  1  2   ... 1  0  0  4  3  4  1  1  3   6   5   6
0  0  18  1  0  0  4  4  0  4  0  1  2  ...  1  0  0  4  3  4  1  1  3   6   5   6
0  0  17  1  0  1  1  1  0  2  0  0  1  ...  1  1  0  5  3  3  1  1  3   4   5   5
0  0  15  1  1  1  1  1  0  2  2  1  1  ...  1  1  0  4  3  2  2  3  3  10   7   8
0  0  15  1  0  1  4  2  1  3  1  1  1  ...  1  1  1  3  2  2  1  1  5   2  15  14
0  0  16  1  0  1  3  3  2  2  1  0  1  ...  1  0  0  4  3  2  1  2  5   4   6  10

[5 rows x 31 columns]

## Splitting the dataset into training set and test set with test_size = 0.5

In [209]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Multiple Linear Regression

## Train the model using Multiple Linear Regression

In [210]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Training accuracy

In [211]:
r2_score(lin_reg.predict(X_train),y_train)

0.8254588508089309

## Test Accuracy

In [212]:
r2_score(lin_reg.predict(X_test),y_test)

0.7448368823856144

### Polynomial Regression

In [191]:
poly_regressor = PolynomialFeatures(degree = 2)
X_poly = poly_regressor.fit_transform(X)

In [192]:
X_poly_train, X_poly_test, y_train, y_test = train_test_split(X_poly, y, test_size = 0.2, random_state = 0)

In [193]:
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Train Accuracy

In [194]:
r2_score(lin_reg_2.predict(X_poly_train),y_train)

1.0

## Test Accuracy

In [195]:
r2_score(lin_reg_2.predict(X_poly_test),y_test)

0.31504325205174777

Overfitting

### SVR

In [216]:
y_train_reshape = y_train.reshape(len(y_train),1)
y_test_reshape = y_test.reshape(len(y_test),1)

In [217]:
sc_X = StandardScaler()
sc_y = StandardScaler()
X_train_reshape = sc_X.fit_transform(X_train)
y_train_reshape = sc_y.fit_transform(y_train_reshape)

In [218]:
svr = SVR(kernel = 'rbf')
svr.fit(X_train_reshape, y_train_reshape)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

## Train Accuracy

In [219]:
y_pred_train = sc_y.inverse_transform(svr.predict(X_train_reshape))
r2_score(y_pred_train,y_train)

0.8863633816730995

## Test Accuracy

In [220]:
y_pred_test = sc_y.inverse_transform(svr.predict(sc_X.transform(X_test)))
r2_score(y_pred_test,y_test) #Overfitting

0.19227513439727528

Overfitting

## Decission Tree Regression

In [223]:
dtr = DecisionTreeRegressor(random_state = 0)
dtr.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

## Training Accuracy

In [224]:
r2_score(dtr.predict(X_train),y_train)

1.0

## Test Accuracy

In [225]:
r2_score(dtr.predict(X_test),y_test)

0.6713222754029817

Overfitting

## Random Forest Regression (Best Result)

In [243]:
rfr = RandomForestRegressor(n_estimators = 100, random_state = 0)
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

# Training Accuracy

In [244]:
r2_score(rfr.predict(X_train),y_train)

0.9774429521850481

# Test Accuracy (Best Result)

In [245]:
r2_score(rfr.predict(X_test),y_test)

0.8283964464611001